<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Icon project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="search.css">
  </head>
  <body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.12.16/vue.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Cookies.js/1.2.1/cookies.min.js"></script>

    <div class="container" id='app' style="display:none" v-style="appStyle">

      <h3><img src="FatCow_Icons32x32/fatcow.png" class="heading" />The easiest way to iconize your application!</h3>
      <ul class="nav nav-tabs">
        <li role="presentation" v-repeat="item: menu" v-class="active: active == item.name">
          <a href="#" v-on="click:active = item.name">
            <img src="FatCow_Icons16x16/{{item.icon}}.png" />
            &nbsp;
            {{item.name}}
          </a>
        </li>
      </ul>

    <div class="container" v-show='active == "About"' v-html="about">
    </div>

    <div class="form-horizontal" v-show='active == "Configure"'>
      <br/>

      <div class="form-group">
        <label for="base" class="col-sm-2 control-label">Base Url</label>
        <div class="col-sm-10">
          <input class="form-control" v-model="base" id='base' placeholder="Search an icon" >
        </div>
      </div>

      <div class="form-group">
        <label for="threshold" class="col-sm-2 control-label">Threshold</label>
        <div class="col-sm-10">
          <input class="form-control" v-model="threshold" id='threshold' placeholder="Search an icon" >
        </div>
      </div>

      <div class="form-group">
        <label for="folder" class="col-sm-2 control-label">Size</label>
        <div class="col-sm-10">
          <select class="form-control" v-model="folder" id="folder">
            <option>FatCow_Icons32x32</option>
            <option>FatCow_Icons16x16</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="mode" class="col-sm-2 control-label">Mode</label>
        <div class="col-sm-10">
          <select class="form-control" v-model="mode" id="mode">
            <option>Javascript</option>
            <option>Link</option>
            <option>Name</option>
            <option>Filename</option>
            <option>Image</option>
          </select>
          <div v-show="mode == 'Javascript'">
          <br/>
          Don't forget do add javascript library with:<br/>
          &lt;script type="text/javascript" src="{{base}}icon.js"&gt;&lt;/script&gt;
          </div>
        </div>
      </div>
    </div>

    <div class="form" v-show='active == "Search"'>
      <br/>
      <input class="form-control" v-model="query" id='query' placeholder="Enter keywords" v-el="query" focus>
      <br/>
      <h5>Click on an icon to copy configuration</h5>
      <ul class="list-inline">
        <li v-repeat="resultList">
          <img v-attr="src:makeUrl($value), title: $value" class="icon-preview icon-preview-{{folder}}" v-on="click: copyIcon"/>
        </li>
        <li v-show="hiddenIconsCount > 0">+ {{hiddenIconsCount}} more icons... </li>
        </ul>
    </div>

    <script type="text/javascript" src="search.js"></script>
  </body>
</html>